.form-container {
    background-color: rgb(93, 98, 100);
    padding: 20px;
    border: solid 3px black;
    position: relative;
    margin: auto;
    width: 50%;
    padding: 10px;
}
.form {
    background-color: rgb(197, 207, 211);
    padding: 20px;
}
